.container {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 960px;
  border: 1px solid red;
  margin: auto;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.box {
  width: 40px;
  height: 40px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.last-column {
  border-right: 1px solid black;
}

.last-row {
  border-bottom: 1px solid black;
}

.row {
  display: flex;
}

.btn {
  font-size: 40px;
  font-weight: 700;
  width: 400px;
  margin-bottom: 20px;
}